<form class="goToHomePage" action="/" method="GET">
  <button type="submit">Go to Home Page</button>
</form>

<form action="/create" method="POST">
  <input type="text" name="hobbyName" placeholder="Enter hobby name" />
  <button type="submit">Add a new Hobby +</button>
</form>
