<style>
  form {
    margin-bottom: 30px;
  }
</style>

<h1>Welcome to Hobbies Tracker</h1>

<form action="/getStarted" method="GET">
  <button type="submit">All Hobbies</button>
</form>

<form action="/createHobbyPage" method="GET">
  <button type="submit">Add New Hobby</button>
</form>
