<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hobbies</title>
  </head>
  <style>
    body {
      margin: 30px;
    }
    .goToHomePage button {
      margin-bottom: 30px;
    }
  </style>
  <body>
    <%-body%>
  </body>
</html>
