<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hobbies</title>
  </head>
  <style>
    body {
      margin: 30px;
      background-color: aliceblue;
    }
    .goToHomePage button {
      margin-bottom: 30px;
    }
    input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid black;
    }
    button,
    select {
      cursor: pointer;
      padding: 10px;
      background-color: rgb(219, 253, 253);
      border-radius: 5px;
      border: 1px solid black;
    }
    button:hover {
      background-color: rgb(169, 255, 255);
    }
  </style>
  <body>
    <%-body%>
  </body>
</html>
