<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hobbies</title>
  </head>
  <body>
    <h1>Welcome to Hobbies Tracker</h1>

    <form action="/create" method="POST">
      <input type="text" name="hobbyName" placeholder="Enter hobby name" />
      <button type="submit">Create Hobby</button>
    </form>

    <hr />

    <h2>All Hobbies</h2>
    <%-body%>
  </body>
</html>
